
<h1 class="center">Listing all articles</h1>

<!-- add a display for the pagination -->
<div align="center">
<%= will_paginate %> <!--pagination library -->
</div>

<%= render 'article', obj: @articles %> <!-- we assign the value for obj: @articles -->
<div align="center">
<%= will_paginate %>
</div>
