<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>My Little Webpage</title>

<%= stylesheet_link_tag "application" %>


</head>

<body id="index" class="home">
  <header id="banner" class="body">
    <h1> My Alpha Blog Sample</h1>

    <nav><ul>
      <li class="active"><a href="#">Home</a></li>
      <li><%= link_to 'About', about_path %></li>
      <li><a href="#">Portfolio</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Contact</a></li>
    </ul></nav>

  </header><!-- /#banner -->

  <aside id="featured" class="body"><article>


    <h2>My Activity</h2>

  <p>After playing around with some web design, front-end development and a bit of PHP/My SQL, I decided to start <a href="https://www.udemy.com/the-complete-ruby-on-rails-developer-course/" rel="external">Ruby on Rails</a>, a solid web-application framework that includes everything needed to create database-backed web applications according to the Model-View-Controller (MVC)  </p>

</article></aside>

<section id="content" class="body">

  <ul id="posts-list" class="hfeed">

    <li><article class="hentry">
      <header>
        <h2 class="entry-title">Developer in progress</h2>
      </header>


        <%= image_tag "webd.JPG" %>


      <footer class="post-info">
        <abbr class="published" title="date">
           June 26 2019
        </abbr>

        <address class="vcard author">
          By <a class="url fn" href="#">Monica Laura</a>

        </address>
      </footer><!-- /.post-info -->

      <div class="entry-content">
        <p>Here I will write my next article, as soon as my schedule will allow me. </p>

      </div><!-- /.entry-content -->
    </article></li>


    <li><article class="hentry">
      <header>
        <h2 class="entry-title">My Stuff</h2>
      </header>





      <footer class="post-info">
        <abbr class="published" title="date">
           June 26 2019
        </abbr>

        <address class="vcard author">
          By <a class="url fn" href="#">Monica Laura</a>

        </address>
      </footer><!-- /.post-info -->

      <div class="entry-content">
        <p>Here I will write another article, as soon as possible. </p>

      </div><!-- /.entry-content -->
    </article></li>



  </ul>

</section>

<footer id="contentinfo" class="body">
  <address id="about" class="vcard body">
    <span class="primary">
      <strong><a href="#" class="fn url">My Little Web Page</a></strong>

      <span class="role">About me, in short</span>
    </span>


    <span class="bio">I'm just a web developer in a learning process</span>

  </address>
  <p>2019 <a href="http://mon.com">Monica Laura</a>.</p>
</footer>


</body>
</html>
