$navbar-default-bg: #011627;

@import "bootstrap-sprockets";
@import "bootstrap";

* {
margin: 0;
padding: 0;
}

html,
body {
   margin:0;
   padding:0;
  height: 100%;
}

.container-full {
  margin: 0 auto;
  width: 100%;
  min-height: 100%;
  position:relative;


}

.navbar-default .navbar-collapse, .navbar-default{
margin-bottom:0 !important;

}

#logo {
  float:left;
  font-size:1.7 em;
  color: #FDFFFC;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {

color: #fff;
text-decoration: none;

}

.center {

text-align: center;

}

.jumbotron {

background-image: asset-url('home.jpg');
background-size: cover;
height: 450px;
margin-top:0;
}

.jumbotron h1 {

color: #fff;
text-align: center;
margin-bottom: 60px;
letter-spacing: -1px;
font-weight: bold;

}

.btn-lg, .btn-group-lg > .btn{

}

.btn-xlarge {

font-size: 1.7em;
background-color: #011627;
border-color:#0777BF;

}

.btn-xlarge:hover {
  background-color:#0777BF;
  border-color: #011627;
}
.bt-article{
margin-top: 10px;
}

#body-article{
margin-top: 10px;
}

.bottom-space{
  margin-bottom:40px;
}

 .alert {
   width:600px;
   text-align:center;
   font-size:16px;
  }

  .article-actions{
    border-top: 1px solid #eaeaea;
    margin: auto;
    width: 40%;
    padding: 20px;

  }

  article-actions-all{

    border-top: 1px solid #eaeaea;
    padding: 10px;

  }

  .article-title {

  font-weight: bold;

  font-size: 1.5em;

  }

  .article-body {

  border-top: 1px solid #eaeaea;

  padding-top: 15px;

  padding-bottom: 15px;

  }


  .description{
    margin-top:0;
  }


footer {

border-top: 1px solid #eaeaea;
color:#FDFFFC;
height: 120px;

}

footer a:hover {

color: #222;

}

.footer  {
   position:fixed;
   bottom:0;
   width:100%;
   margin-top:10px;
 }

footer small {

bottom:0;
margin-top: 90px;
margin-left: 20px;
float: left;

}

footer ul {

float: right;
list-style: none;

}

.footer{background-color:#011627 !important;}

footer ul li {

float: left;
margin-top: 15px;
margin-right: 40px;

}

@media (min-width: 768px){
  .navbar {margin-top:0 !important;}

}
