<div class="container-full">

<footer class="footer">

<small class="center">

Copyright © <a href="http://monicalauraburns.blogspot.com">The Blog of Monica Laura</a>

by <a href="http://www.monica-laura.com/">Monica Laura</a>

</small>

<nav>

<ul>

<li><%= link_to "About", about_path %></li>

</ul>

</nav>

</footer>

</div>
